@import './_variables';
body {
    background-color: $main-color;
    padding: 1.5em;
    font-family: $main-font;
}

#wheel {
    position: absolute;
    top: 2em;
    left: 26%;
    transition: all 0.5s ease-in-out;
    &.active {
        transform: rotateZ(360deg);
    }
}

#container {
    position: relative;
    width: 40%;
    left: 30%;
    top: 15.5em;
    border-radius: 0.5em;
    @media screen and (max-width: 1919px) {
        top: 21.5em;
        left: 31%;
    }
    @media screen and (max-width: 1435px) {
        top: 15em;
    }
    #select-menu {
        padding: 1em;
        h2 {
            text-align: center;
            font-size: 2em;
        }
        hr {
            border-color: #000;
            margin-top: -1em;
            width: 50%;
        }
        button {
            position: relative;
            left: 26%;
            border: none;
            font-family: $main-font;
            font-size: 1em;
            border: 1px solid #000;
            background-color: #fff;
            border-radius: 0.5em;
            padding: 0.98em;
            outline: none;
            transition: all 0.3s ease-in-out;
        }
        select {
            position: relative;
            left: 26%;
            width: 30%;
            height: 4em;
            font-family: $main-font;
            font-size: 1em;
            border: 1px solid #000;
            background-color: #fff;
            outline: none;
            transition: all 0.3s ease-in-out;
        }
    }
}